
a{
  text-decoration: none;
  color: white;
}

.App {
}

.bandInfo{
  text-align: justify;
  padding-right: 20px;
}

.bandNaziv{
  padding-top: 5px;
}

.bandSlika{
  width: 100%;
  margin-bottom: 18px;

}

.bandSlikaModal{
  width: 100%;
  height: 100px;  
}

.readMore{
  margin-top: 8px;
}

.App{
}

.bandList{
  padding-bottom: 40px;
}

.footer{
  background-color: black;
  color: white;
  height: 50px;
}

.brandName{
  padding: 20px 60px;
  font-size: 2em;
}

.card{
  box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 480px) {
  
.brandName{
  padding: 10px 25px;
  font-size: 1.6em;
}

.bandSlika{
  margin-bottom: 0px;
}

.bandSlikaModal{
  width: 100%;
  height: 60px;
}

.bandInfo{
  padding: 15px;
  font-size: .9em;
}

.footer{
  height: 35px;
}

}

@media screen and (max-width: 360px) {

  .bandInfo{
    font-size: .7em;
  }

}